html, body {
  font-family: 'Montserrat', sans-serif;
}


.cc-navbar {
  background-color: #0a0403 !important;
}

.cc-image { 
  padding: 10px 60px;
}
.cc-text {
  padding: 10px 20px;
  text-align: left;

}

.cc-portfolio {
  padding: 16px;
}

.cc-image-c {
  padding: 0px 28px;
}

span {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}


.h2-text, h4 {
  letter-spacing: 2px !important;
  font-weight:bold;
  font-size: 18px;
}

.p-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-align: justify;
}
.navbar-brand {
  font-size: 10px;
}

.navbar {
  font-weight: bold;
  letter-spacing: 1px;
}

.rounded-start {
  background-color: rgb(235, 229, 229) !important;
}





.card {
  border:#fff !important;
}

@media screen and (min-width: 1200px) { 
  
  p {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }

  h4, .h2-text {
    font-size: 28px;
  }

  .cc-image{
    width: 100%;
  } 

  span {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
  }

  .p-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 20px;
}


 
  }


